version: '3.8'

services:
  db:
    image: postgres:18
    container_name: orgs-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: orgs-app
    ports:
      - "8000:8000"
    depends_on:
      - db
        #        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./migrations:/app/migrations
      - ./seed.sql:/app/seed.sql

volumes:
  postgres_data:
